@media screen and (max-width: 500px){
    .nav-pills .list-item-inline{
        text-align: center;
        margin: 1rem 0;
        display: block;
    }

    .social-links .list-item-inline{
        margin: 1rem 0;
        display: block;
    }
}